/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky; /* Hace que el header quede fijo */
    top: 0;
    background-color: white;
    z-index: 1000;
}

header .logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

header .logo p {
    font-size: 14px;
    color: #777;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    color: #3c8b3f;
    border-radius: 5px;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    flex: 1;
    max-width: 250px;
    text-align: center;
}

.about-me img {
    width: 120px; /* Tamaño mayor de la foto de perfil */
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.subscribe img {
    width: 70%; /* Tamaño más pequeño del eBook */
    margin-bottom: 10px;
}

.subscribe button {
    background-color: #3c8b3f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.recipes {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Solo dos columnas */
    gap: 20px;
}

.recipes article {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipes img {
    width: 100%;
    border-radius: 8px;
}

.recipes h3 {
    font-size: 18px;
    margin: 10px 0;
}

.recipes h3 a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.recipes h3 a:hover {
    color: #4CAF50; /* Color verde al pasar el cursor sobre el título */
}

.recipes p {
    font-size: 14px;
    color: #777;
}

/* Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .recipes {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}